@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&family=Roboto:wght@300;400;700&display=swap');

:root{
  --top-padding: 16rem;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  font-family: 'Roboto', sans-serif;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #282c34;
  width: 100vw;
  height: 100vh;
}

.App-header {
  position: absolute;
  top: 0;
  padding-top: 2rem;
  top: 0;
  font-size: 3rem;
  color: #FFFFFF;
}

.App-parent {
  padding-top: var(--top-padding);
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 100%;
  min-height: Calc(100% - var(--top-padding));
  color: #FFFFFF;
}

.App-parent-item {
  color: darkorange;
  margin-bottom: 3rem;
}

.App-children {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #4e5765;
  padding: 1rem;
  border: #FFFFFF solid 1px;
  border-radius: 0.5rem;
}